.indicadores {
    padding: 60px 80px;
    background-color: #f5f5f5;
}

.anexos-indicadores {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.anexo-indicador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 120px;
    background: white;
    border-radius: 12px;
    text-decoration: none;
    color: #781428;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.anexo-indicador h1 {
    font-size: 20px;
    text-align: center;
}

.anexo-indicador:hover {
    transform: translateY(-5px);
    background-color: #781428;
    color: white;
    
}

.vsm {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.vsm h1 {
    font-size: 50px;
    color: #781428; /* vino */
    margin-bottom: 10px;
}


.vsm img {
    width: 95%; 
    max-width: 1200px; 
    border-radius: 15px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}

.layout {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.layout h1 {
    font-size: 50px;
    color: #781428; /* vino */
    margin-bottom: 10px;
}


.layout img {
    width: 95%; 
    max-width: 1200px; 
    border-radius: 15px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}

.linea1 {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.linea1 h1 {
    font-size: 50px;
    color: #781428; /* vino */
    margin-bottom: 10px;
}


.linea1 img {
    width: 95%; 
    max-width: 1200px; 
    border-radius: 15px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}

.linea2 {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.linea2 h1 {
    font-size: 50px;
    color: #781428; /* vino */
    margin-bottom: 10px;
}


.linea2 img {
    width: 95%; 
    max-width: 1200px; 
    border-radius: 15px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}

